*{
  font-family: Cambria
}

h2 {
  color: purple;
}

table {
  border: 2px solid;
  margin-left: 275px;
  width: 700px;
  height: auto;
}

th {
  font-size: 25px;
  color:maroon;
}

td {
  font-size: 25px;
  color: orangered;
  text-align: center;
}

caption {
  font-size: 30px;
  color: purple;
  font-weight: bold;
}

figcaption {
  color: green;
  font-weight: bold;
}

iframe {
  border: 2px solid;
}

img {
  border: 2px solid black;
}

.nav {
  border: 2px solid darkorange;
}

a {
  color: green;
}

a:visited {
  color: grey;
}

a:hover {
  color: red;
}