*{
  font-family: Cambria;
}

body {
  background-color: rgb(231, 180, 187);
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  color: red;
  text-align: center;
}

h2 {
  color: purple;
}

table {
  border: 2px solid;
  margin-left: 275px;
  width: 700px;
  height: auto;
}

th {
  font-size: 25px;
  color:maroon;
  border: 1px solid black;
}

td {
  font-size: 25px;
  color: orangered;
  text-align: center;
  border: 1px solid black;
}

caption {
  font-size: 30px;
  color: purple;
  font-weight: bold;
}

figcaption {
  color: green;
  font-weight: bold;
}

iframe {
  border: 2px solid;
  width: 550px;
  height: 325px;
}

img {
  border: 2px solid black;
}

nav {
  border: 2px solid darkorange;
}

a {
  color: green;
}

a:visited {
  color: grey;
}

a:hover {
  color: red;
}
