body {
  background-color: rgb(231, 180, 187);
  font-family: Cambria;
  font-size: 22px;
  padding: 0 10px; 
  min-width: 400px;
}

#seven-wonders, .youtube-video, footer p {
  text-align: center;
}

#seven-wonders h2 {
  color: blue;
}

#seven-wonders img {
  height: 444px;
  width: 666px;
}

h2 {
  color: purple;
}

h1 {
  color: red;
  text-align: center;
  font-family: Merriweather;
}

nav {
  border: 3px solid maroon;
  border-radius: 15px;
  margin: 0 200px;
}

p strong {
  font-family: Helvetica;
}

a {
  color: green;
}

a:visited {
  color: grey;
}

a:hover {
  color: red;
}

iframe {
  border: 2px solid;
  border-radius: 15px;
  width: 550px;
  height: 325px;
}

table {
  border: 2px solid;
  border-radius: 10px;
  margin: 0 auto;
  width: 700px;
  height: auto;
}

caption {
  font-size: 30px;
  color: purple;
  font-weight: bold;
  font-family: Roboto;
}

th {
  font-size: 25px;
  color:maroon;
  border: 1px solid black;
  border-radius: 5px;
}

td {
  font-size: 25px;
  color: orangered;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
}

figcaption {
  color: rgb(102, 98, 98);
  font-weight: bold;
}

img {
  border: 2px solid black;
  border-radius: 25px;
}
